# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
design.md
TurmaService.test.ts
reimportar_banco.py
vitest.config.ts
.config.kiro
leitorexcel.py
bugfix.md
tasks.md
gestao_hidro.db
matriculas_consolidadas_perfeito.csv
matriculas_consolidadas_perfeito.xlsx
horario_aulas.csv
.kiro
.reposicao-de-aula
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.key
*.key.pub
~/
.tauri/